@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://kit.fontawesome.com/d903c022ca.js");
@font-face {
  font-family: "CustomFont";
  src: url("customfont.woff2") format("woff2");
  font-display: swap;
}
:root {
  --primary-color: #14571e;
  --primary-hover-color: #47b477;
  --text-color: #333;
  --background-color: #ffffff;
  --sec-background-color: #f3f3f3;
  --mobile-background-color: #f7f6f0;
  --button-color: #176324;
  --border-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 4, 0.5);
  --base-font-size: 12px;
  --h-font-size: 0.75rem;
  --font-family: "Montserrat Alternates", sans-serif;
  --font-family-p: "Montserrat", sans-serif;
  --font-weight: 500;

  --background-color-dark: #0a0a0a;
  --text-color-dark: #ffffff;
}

body.light-mode {
  --background-color: var(--background-color);
  --text-color: var(--text-color);
}
body.dark-mode {
  --background-color: var(--background-color-dark);
  --sec-background-color: rgb(15, 15, 27);
  --text-color: #efecec;
  --border-color: #0f1a43;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  animation: fadeIn 0.05s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HEADER */
header {
  font-weight: var(--font-weight);
  background-color: var(--background-color);
  border-bottom: 0.125rem solid var(--border-color);
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-nav .motto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.header-nav p {
  padding-left: 2em;
  font-size: small;
}

.header-nav img {
  width: 2rem;
  height: auto;
  padding-top: 0.3rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 1.25rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 0.625rem 0.9375rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  justify-content: center;
  margin: 0 10px 0 10px;
  font-weight: var(--font-weight);
}

.nav-links a:hover {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  border-radius: 0.3125rem;
}

.user-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: var(--h-font-size);
  padding: 0.625rem 0.3125rem 0.625rem 0.625rem;
  transition: color 0.3s ease;
}

.user-links a:hover {
  color: var(--primary-color);
}

.user-links img {
  width: 2rem;
  height: auto;
  border-radius: 50%;
}

.user-links #toggle-theme {
  cursor: pointer;
}
.mobile-nav {
  display: none;
}

@media (max-width: 1437px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.625rem 1.25rem;
  }
  .motto p {
    display: none;
  }
  .nav-links {
    margin: 0 2px 0 2px;
  }
  .nav-links a {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1159px) {
  .nav-links a {
    font-weight: 500;
    font-size: var(--base-font-size);
    text-align: center;
  }
  .nav-links li {
    margin: 0;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 3rem;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
}

/* MOBILE_NAV */
@media (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .nav-links {
    display: none;
  }

  .user-links {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    background-color: #4caf50;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 0.5rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .mobile-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color-dark);
    font-size: var(--base-font-size);
  }

  .mobile-nav img {
    width: 24px;
    height: 24px;
  }

  .motto p {
    display: none;
  }
}

/* toggle button(dark/light) */
#toggle-theme {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle-theme svg {
  fill: #080d21;
  color: #080d21;
}

#toggle-theme svg:last-child {
  display: none;
}
.dark-mode #toggle-theme svg:first-child {
  display: none;
}
.dark-mode #toggle-theme svg:last-child {
  display: block;
}

/* Filter Toggle Button */
.burger-menu {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.burger-menu:focus {
  outline: none;
}

.burger-menu:hover {
  background-color: #f5f5f5;
}

/*---------------------footer----------------------------*/
footer {
  display: flex;
  justify-content: center;
  background-color: var(--sec-background-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--text-color);
}
.footer-address h4 {
  font-size: 14px;
}

.footer-container section {
  flex: 1 1 20%;
  margin: 10px;
}

.footer-container .footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-container .footer-logo img {
  max-width: 50px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-container .social-icons {
  padding-top: 5px;
}

.footer-container .social-icons ul {
  display: flex;
  gap: 10px;
}

.fa-square-facebook:hover {
  opacity: 1;
  color: #475993;
}
.fa-instagram:hover {
  opacity: 1;
  color: transparent;
  background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  background-clip: text;
}
.fa-twitter:hover {
  opacity: 1;
  color: #1da1f2;
}

.footer-links ul {
  list-style: none;
}
.footer-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 12px;
}
.footer-address {
  display: flex;
  flex-direction: column;
}
.footer-links p,
.footer-contact p {
  font-size: 12px;
}
.footer-address p {
  text-wrap: wrap;
  max-width: 300px;
  font-size: 12px;
}

/*FaQ*/

.sec-title {
  justify-content: center;
  margin-bottom: 3vh;
  display: flex;
  font-size: 25px;
}

.faq-list {
  margin: 20px auto;
  max-width: 70vh;
}

.panel.group {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.faq-item {
  background: linear-gradient(135deg, #f1f1f1, #f1f1f1);
  border-radius: 40px;
  padding: 20px;
  box-shadow: 8px 8px 20px rgba(238, 238, 238, 0.1),
    -8px -8px 20px rgba(255, 255, 255, 0.7);
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item:hover {
  transform: translateY(-10px);
  box-shadow: 12px 12px 30px rgba(123, 238, 129, 0.15),
    -12px -12px 30px rgba(235, 232, 232, 0.6);
}

.item-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.item-title a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.item-title a:hover {
  color: #007bff;
}

.answer {
  font-size: 1em;
  color: var(--text-color);
  margin-top: 1vh;
}

@media (max-width: 768px) {
  .faq-item {
    padding: 15px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-container section {
    flex: 1 1 100%;
  }

  .footer-container .social-icons ul {
    justify-content: center;
  }
  .fa-square-facebook {
    opacity: 1;
    color: #475993;
  }
  .fa-instagram {
    opacity: 1;
    color: transparent;
    background: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .fa-twitter {
    opacity: 1;
    color: #1da1f2;
  }
  .footer-address,
  .footer-contact,
  .footer-links {
    order: 0;
  }
  .footer-first {
    order: 1;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    order: 2;
  }
  .footer-logo img {
    width: 20px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 15px;
  }

  .footer-container .footer-logo img {
    max-width: 40px;
  }

  .footer-container h4 {
    font-size: 14px;
  }

  .footer-container p,
  .footer-container a {
    font-size: 12px;
  }
}

/*----------------About Us---------------*/

.about-section {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.about-header h1 {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.about-header .intro {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.about-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.about-images img {
  width: 30%;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-details {
  font-size: var(--base-font-size);
  color: var(--text-color);
  line-height: 1.8;
  text-align: justify;
  padding: 0 1rem;
}

.about-details .call-to-action {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
}

#my-map {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--button-color);
  height: 150px;
  width: 500px;
}
/* .leaflet-control-attribution leaflet-control a{
  display: none;
} */
.leaflet-control-attribution {
  display: none;
}
