.signo_container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.Get_inside_head {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--sec-background-color);
  box-shadow: 0 1px 2px #263a64;
  max-width: 25rem;
  text-align: center;
  color: var(--text-color);
}

.Get_inside_head h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Get_inside_head form {
  display: grid;
  gap: 1rem;
}

/* Password field container adjustments */
.password-container {
  position: relative;
}

.password-container input {
  padding-right: 3rem;
}

.toggle-password {
  position: absolute;
  right: 1rem;
  top: 70%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-password i {
  font-size: 1.25rem;
  color: var(--text-color);
}

.toggle-password:hover i {
  color: var(--primary-color);
}

.input-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

/* Input group styling */
.input-group select,
.input-group input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.input-group select {
  background-color: var(--background-colors);
}

/* Password field styling  and making default eye button hiddden*/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

.input-group select:focus,
.input-group input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.password-container input:focus {
  margin-top: 0.5rem;
}

/* Form alignment */
form .input-group,
form .password-container {
  margin-bottom: 1rem;
}

.primary-btn {
  padding: 0.75rem;
  background-color: #14571e;
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-btn:hover {
  background-color: var(--primary-color);
}

/* Social login buttons */
.social-login {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: var(--background-color);
  box-shadow: 0 0.125rem 0.25rem var(--shadow-color);
  transition: transform 0.3s ease, background-color 0.3 ease;
}

.social-btn:hover {
  transform: scale(1.05);
  background-color: var(--background-color);
}

.google {
  color: #db4437;
}

.facebook {
  color: #4267b2;
}

.or-container {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--text-color);
}
